@charset "UTF-8";

nav{
    display: block;
    text-align: left;
    background-color: rgb(106, 104, 104);
}

li{
    display: inline-block;
    background-color: rgb(50, 49, 49);
    color: white;
}

li > a {
    border: none;
}

main{
    width: 800px;
    margin: 8px auto;
}

#icone-menu{
    display: none;
}