@charset "UTF-8";

/* Estilos para impressora */

*{
    font-family: 'Courier New', Courier, monospace;
}


/* 
body{
 background-image: url(../imagens/back-print.jpg); não funciona o nackground para impressao 
} */


main{
    border: 2px solid black;
}

main::after{
    content: 'Impressao do baby projeto do bulleta';
}

main > #icon-phone{

    display: none;
}

main > #icon-print{
    display: block;
}